{% extends 'layout.html' %}
{% block body %}
<div class="row row-cols-md-2 mb-3 g-5">
    <div class="col">
        <h2>Welcome to FITS</h2>
        <br>
        <h3>Go to the <a href="/issues">Issues page</a> or <a href="/add_issue">Add a new issue</a>.</h3>
    </div>
    <div class="col">
        <div class="mb-4 rounded-3 shadow-sm border-dark">
            <div class="card-header text-white bg-dark text-center">Open issues: {{issues|length}}</div>
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Top Issues:</th>
                        <th></th>
                    </tr>
                </thead>
                {% if issues|length < 5 %}
                    {% for issue in issues %}
                    <tr>
                        <td>{{issue.projectKey}}</td>
                        <td><a href="view_issue/{{issues[i].id}}">{{issues[i].title}}</a></td>
                    </tr>
                    {% endfor %}
                {% elif issues|length == 0 %}
                    <tr>
                        <td style="column-span:2;">No open issues.</td>
                    </tr>
                {% else %}
                    {% for i in range(5) %}
                    <tr>
                        <td>{{issues[i].projectKey}}</td>
                        <td><a href="view_issue/{{issues[i].id}}">{{issues[i].title}}</a></td>
                    </tr>
                   {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}