{% extends 'layout.html' %}
{% block body %}
<div class="row row-cols-md-2 mb-3 g-5">
    <div class="col">
        <h2>Welcome to JobHunt</h2>
        <br>
        {% if session.logged_in %}
        <h3>Go to the <a href="/jobs">Jobs page</a> or <a href="/add_job">Add a new job</a>.</h3>
        {% else %}
        <h3><a href="/login">Login</a> to view your saved jobs, or <a href="/register">Register</a> to get started.</h3>
        {% endif %}
    </div>
    {% if session.logged_in %}
    <div class="col">
        <div class="mb-4 rounded-3 shadow-sm border-dark">
            <div class="card-header text-white bg-dark text-center">Job postings: {{jobs|length}}</div>
            <table class="table table-hover dash-table">
                <thead class="table-dark">
                    <tr>
                        <th>Top jobs:</th>
                        <th></th>
                    </tr>
                </thead>
                {% if jobs|length == 0 %}
                <tr>
                    <td style="column-span:2;">No open jobs.</td>
                </tr>
                {% elif jobs|length < 5 %}
                    {% for job in jobs %}
                    <tr>
                        <td>{{job.company}}</td>
                        <td><a href="view_job/{{job.id}}">{{job.position}}</a></td>
                    </tr>
                    {% endfor %}
                {% else %}
                    {% for i in range(5) %}
                    <tr>
                        <td>{{jobs[i].company}}</td>
                        <td><a href="view_job/{{jobs[i].id}}">{{jobs[i].position}}</a></td>
                    </tr>
                   {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}