{% extends 'layout.html' %}
{% block body %}
{% if not rejects %}
<h1>Jobs</h1>
{% else %}
<h1>Rejects</h1>
{% endif %}
<hr>
<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Company</th>
            <th>Position</th>
            <th>Address</th>
            <!-- <th>Links</th> -->
            <th>Status</th>
            <th>Date Added</th>
            <th></th>
            <th></th>
            {% if not rejects %}
            <th></th>
            {% endif %}
        </tr>
    </thead>
    {% for job in jobs %}
    <tr>
        <td>{{job.company}}</td>
        <td><a href="view_job/{{job.id}}">{{job.position}}</a></td>
        <td>{{job.address}}</td>
        <!-- <td><a href="{{job.links}}" target="_blank">{{job.links}}</a></td> -->
        <td>{{job.status}}</td>
        <td>{{job.create_date.strftime("%B %d, %Y")}}</td>
        <td><a href="edit_job/{{job.id}}" class="btn btn-dark float-right">Edit</a></td>
        <td>
            <form action="{{url_for('delete_job', id=job.id)}}" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input aria-label="delete" type="submit" value= "Delete" class="btn btn-danger">
            </form>
        </td>
        {% if not rejects %}
        <td>
            <form action="{{url_for('rejected', id=job.id)}}" method="POST">
                <input type="hidden" name="_method" value="REJECTED">
                <input aria-label="rejected" type="submit" class="btn btn-danger float-left" value="Rejected">
            </form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    
</table>
{% endblock %}