{% extends 'layout.html' %}
{% block body %}
    <h3>{{job.position}}</h3>
    <p>{{job.company}}  -  Date added: {{job.create_date.strftime("%B %d, %Y")}}</p>
    <p>Location: <a href="https://google.com/maps/search/{{job.address.title()|replace(' ', '+')}}" target="_blank">{{job.address.title()}}</a></p>
    <p>Salary: {{job.salary}}</p>
    <p>
        Rating: 
        <form name="rating" class="stars" method="POST">
            {% for i in range(5) %}
                {% if i+1 == job.rating %}
                <input id="star{{i+1}}" type="radio" name="stars" class="star{{i+1}}" value={{i+1}} checked="checked" onclick="submitRatings()"></input><label class="star" for="star{{i+1}}"><ion-icon name="star"></ion-icon></label>
                {% else %}
                <input id="star{{i+1}}" type="radio" name="stars" class="star{{i+1}}" value={{i+1}} onclick="submitRatings()"></input><label class="star" for="star{{i+1}}"><ion-icon name="star"></ion-icon></label>
                {% endif %}
            {% endfor %}
         </form>
    </p>
    <br>
    <hr>
    <h5>About {{job.company}}: </h5>
    <p>{{job.companyInfo}}</p>
    <h5>Position Info: </h5>
    <p>{{job.positionInfo}}</p>
    <h5>Requirements I meet: </h5>
    <p>{{job.reqsIMeet}}</p>
    <h5>Requirements I don't meet: </h5>
    <p>{{job.reqsIDontMeet}}</p>
    <h5>Link(s):</h5>
    <p><a href="{{job.links}}" target="_blank">{{job.links}}</a></p>
{% endblock %}