a {
    text-decoration: none;
    color: royalblue;
}
a:hover {
    text-decoration: underline;
}

table {
    border: 1px solid lightgray;
    border-radius: 5px;
    max-width: 100%;
    table-layout: fixed;
}
body {
    background-color: rgb(238, 238, 238);
}
.container {
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 30px;
    background-color: white;
}
label {
    padding-bottom: 5px;
}


.dash-table {
    table-layout: auto;
}


.details {
    min-height: 160px;
}
.form-group {
    padding-top: 10px;
}

/* ratings  */
.stars > input { 
    display: none
}
.stars {
    float: left;
}
.star {
    color: black;
    transition: 0.3ms all;
}
.stars > label {
    float: right;
    color: black;
}
.star:hover {
    color: #f1c40f;
}
.stars > input:checked ~ label,
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label {
    color: #f1c40f;
}

.stars > input:checked + label:hover,
.stars > input:checked ~ label:hover,
.stars > label:hover ~ input:checked ~ label,
.stars > input:checked ~ label:hover ~ label {
    color: #f6e58d;
}